- var action = "/authors"
- if (!author) author = {name: "", age: ""}
- if (author.id) action = `/authors/${author.id}?_method=put`
form(method="post", action="#{action}")
  div
    label Name
      input(type="text", name="author[name]", value="#{author.name}")

  div
    label Age
      input(type="number", name="author[age]", value="#{author.age}")

  div
    input(type="submit", value="Update")