extends ../layout.jade

block content
  h1 All Authors
  ul
    each author in authors
      li 
        | Name Age #{author.name} / #{author.age}
        a(href="/authors/#{author.id}/edit")
          button(type="button", class="btn btn-default")
            span(class="glyphicon glyphicon-edit")